body {
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.top-container {
  background-color: #EAF6F6;
  padding: 200px;
  position: relative;
}
p{
    line-height: 2;
}
hr{
  border: dotted #EAF6F6;
  border-bottom: none;
  width: 5%;
  margin: 100px auto 100px auto;
}

.middle-container
{
  padding: 50px;
}

h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

.videocrator {
  margin-top: 0;
}

.profile_pic {
  width: 100px;
  /* margin-top: 50px; */
}


h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.videoit {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 500px;
}

a {
  color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.video-editor
{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coding-computer-image
{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-des
{
  color: #40514E;
  line-height: 2;
}

.intro
{
  width: 30%;
  margin: auto;
}
.bottomline
{
  width: 40%;
  margin: 40px auto 40px auto;

}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
  background-image: -o-linear-gradient(top, #11CDD4, #11999e);
  background-image: linear-gradient(to bottom, #11CDD4, #11999e);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Merriweather Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container
{
  background: #66BFBF;
padding: 50px 0 20px;
}

a
{
  color: #11999E;
  text-decoration: none;
  padding: 10px 20px;
  font-family: 'Merriweather Sans', sans-serif;
}
a:hover
{
  color: #EAF6F6;
}
.copyright
{
  font-size: 0.75rem;
  font-family: 'Merriweather Sans', sans-serif;
  color: #EAF6F6;
}
